.menu {padding:2px 0 0 0; margin:0 13px; list-style:none;}
.menu li {float:left; padding:0; margin:0 3px 0 0; text-align:center;}

.menuBackground {
  background: none repeat scroll 0 0 #333;
  
  height: 32px;
}

.menu li:not(.ui-state-active) a.tabError span.bb {
    color: #AF0000 !important;
}

.menu li span.aa {
    width:0px; 
    height:18px; 
    float:left; 
    padding:0px 0 0 0;
}

.menu li span.bb {
    height:18px;
    float:left;
    padding:3px 0 0 0;
}
.menu li span.cc {
    width:0px;
    height:18px;
    float:left; 
    padding:0px 0 0 0;
}

.menu li{
    font-size:1em;
    font-weight:normal;
}

.menu li.norm span.aa {
    
}

.menu li.norm span.bb {
    background:#fff;
	padding:5px 15px;
}

.menu li.norm span.bb:hover {background:#E24F43}

.menu li.norm span.cc {
    
}

.menu li.act,
.menu li.ui-state-active {
    color:#fff;
}

.menu li.act span.aa,
.menu li.ui-state-active span.aa {
  
}

.menu li.act span.bb,
.menu li.ui-state-active span.bb{
    background:#000;
	padding:5px 15px;
}

.menu li.ui-state-active span.bb:hover{background:#E24F43}

.menu li.act span.cc,
.menu li.ui-state-active span.cc {
    
}

.menu li.act a span.bb,
.menu li.ui-state-active a span.bb {
    color:#fff;
}


.menu a, .menu a:visited {
    color:#000;
    text-decoration:none;
    cursor:pointer;
}

.menu a:hover {
    
}

#main_logout_button {
  left: -25px;
  position: absolute;
  top: -8px;
}
#main_tools_button {
  left: -25px;
  position: absolute;
  top: 24px;
}
