#selector {
  background: none repeat scroll 0 0 #EEEEEE;
  border: 1px solid #CCCCCC;
  color: #51534A;
  display: block;
  font-size: 11px;
  height: 69px;
  overflow: hidden;
  position: absolute;
  right: 95px;
  top: 10px;
  width: 224px;
  z-index: 20;
}
#selector .preselection {
    width:205px;
    height:52px;
    padding:7px 10px 0 ;
    overflow:hidden;
    line-height:13px;
}

#selector span.selection {
    overflow:hidden;
    width:190px;
    height:13px;
    display:block;
    float:left;
    padding-left:2px;

}

#selector span.none {
    color:#E24F43;
}

#selector strong.short {
    color:#BEBDB3;
    display:block;
    float:left;
    width:13px;
    height:13px;
}
